/fish/.config/fish/fish_history
/fish/.config/fish/fishd.*

*.pyc

/astroid/.config/astroid/searches

/spacemacs/.emacs.d/private/orgmode.el

/emacs/.emacs.d/*
!/emacs/.emacs.d/init.el
!/emacs/.emacs.d/personal

/mutt/.mutt/temp
/stumpwm/.stumpwm.d/group-dumps
/stumpwm/.stumpwm.d/modules/
/qutebrowser/.config/qutebrowser/quickmarks
/qutebrowser/.config/qutebrowser/bookmarks/
/qutebrowser/.config/qutebrowser/autoconfig.yml
/qutebrowser/.config/qutebrowser/qsettings/
/emacs/.emacs.d/personal/org-mode/org-mode.el
