!#if __has_include(".extend.Xresources")
!#include ".extend.Xresources"
!#endif

Xft.dpi: 96
!Xft.dpi: 192
!*.dpi: 192
Rofi.dpi: 192

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


! xterm*faceSize: 14
xterm*loginShell: true
xterm*saveLines: 4000
xterm*termName: xterm-256color
XTerm*locale: true
xterm*boldMode: false
xterm*colorBDMode: true
xterm*colorBD: rgb:fc/fc/fc
! xterm*cutchars: "`\"'&()*,:;<=>?[\\]^{|}$"
! xterm*font: xft:monospace:size=12
! xterm*italicFont: xft:monospace:size=12
! xterm*faceName: DejaVu Sans Mono:style=Book:antialias=false
! xterm*faceNameDoublesize: WenQuanYi Bitmap Song
! xterm*faceSize: 12
! XTerm*faceName: Source Code Pro
! Xterm*.font: xft:Source\ Code\ Pro:Regular:size=12

! URxvt config mostly taken from
! https://unix4lyfe.org/xterm/
URxvt.loginShell: true
URxvt.saveLines: 10000
URxvt.cutchars: "`\"'&()*,:;<=>?[\\]^{|}$"
URxvt.font: xft:monospace:size=12
URxvt.italicFont: xft:monospace:size=12
URxvt.scrollBar: false
URxvt.visualBell: true
! URxvt.fading: 15
! URxvt spells "eightBitInput" as "meta8" and defaults it to false

!XTerm*background: #2b2b2b
!XTerm*foreground: #e7e7e7
!XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11
